:root {
    --bg-color: #000;
    --text-color: #00ff41; /* El verde clásico de Mike */
    --dim-text: #008f11;
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Courier New', Courier, monospace;
    margin: 0;
    overflow: hidden;
}

#snake-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0.4;
}

#content {
    position: relative;
    z-index: 2;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    background: rgba(0, 0, 0, 0.8);
    border: 1px solid var(--dim-text);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid var(--dim-text);
    margin-bottom: 20px;
}

nav a {
    color: var(--text-color);
    text-decoration: none;
    margin-left: 15px;
    text-transform: lowercase;
}

nav a:hover {
    background: var(--text-color);
    color: #000;
}

h1 { font-size: 1.5rem; }
a { color: #fff; }
